body {
    background-color: black;
    font-size: 27px;
}

div.maindiv {
    margin-block-start: 0.67em;
    background-color: white;
    text-align: center;
    border-radius: 25px;
    margin: 25px;
}

div.childdiv {
    text-align: left;
    display: inline-block;
}

label {
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-block-start: 0.67em;
}

footer {
    text-align: justify;
    margin-block-start: 0.67em;
}

h1 {
    color: grey;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}